<ul class="ul">
    <li><a href="/">Home</a></li>
    <li><a href="./loginPage">About</a></li>
    <li><a href="./ProfilePage">Wind Speed</a></li>
    <li><a href="./signUpPage">Wind Speed</a></li>
</ul>